# BANCO DE DADOS (Se a gente precisar em algum momento, por exemplo, 
#para armazenar resultados de testes ou logs)

DB_HOST= # Endereço do banco de dados
DB_PORT= # Porta do banco de dados
DB_NAME= # Nome do banco de dados
DB_USER= # Usuário do banco de dados
DB_PASSWORD= # Senha do banco de dados
DB_TYPE= # Tipo do banco de dados (ex: mysql, postgres, sqlite)

# PARA APIs e serviços externos (Se a gente precisar consumir alguma API ou serviço externo)
API_URL= # URL da API ou serviço externo
API_KEY= # Chave de API para autenticação (se necessário)
API_ENDPOINTS= # Endpoints específicos da API (se necessário) endpoints separados por vírgula

# PERFORMANCE
TIMEOUT= # Tempo limite para requisições (em segundos)