MODE= # DEV | PROD | STAGING 
LOG_LEVEL= # DEBUG | INFO | WARNING | ERROR | CRITICAL
APP_NAME= # Nome da aplicação
APP_VERSION= # Versão da aplicação
TIMEZONE= # Fuso horário da aplicação
DEFAULT_LANGUAGE= # Idioma padrão da aplicação
